# Local DB (ALWAYS ACTIVE - this is your fallback local database)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=enter your local db password here
DB_NAME=reox_db
DB_PORT=3306
PORT=3000
DATABASE_URL="mysql://root:enter_your_pw@localhost:3306/reox_db?connection_limit=20&pool_timeout=30"

#JWT secret key for signing tokens pos and admin locally. 
JWT_SECRET=enter your jwt secret key here
# reox cloud subscription check API endpoint
# SUBSCRIPTION_CHECK_API=http://127.0.0.1:8000/
SUBSCRIPTION_CHECK_API=https://api.reox.lk/

# DB sessions are configured to use SYSTEM timezone in config/db.js 
APP_KEY=enter your app key here from server 

SYNC_WORKER_ENABLED=false
SYNC_OUTBOX_RETENTION_DAYS=14
SYNC_OUTBOX_CLEANUP_INTERVAL_MS=86400000

BACKUP_PASSWORD=server password backup key 